# This configuration is intended for development purpose, it's **your** responsibility to harden it for production
name: booksetl
services:
  app:
    build:
      context: ../..
      dockerfile: Dockerfile
    image: booksetl
    volumes:
      - ./tessdata:/usr/share/tesseract-ocr/4.00/tessdata:ro
    environment:
      - _JAVA_OPTIONS=-Xmx512m -Xms256m
      - SPRING_PROFILES_ACTIVE=prod,api-docs
      - MANAGEMENT_PROMETHEUS_METRICS_EXPORT_ENABLED=true
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgresql:5432/booksEtl
      - SPRING_DATASOURCE_USERNAME=booksEtl
      - SPRING_DATASOURCE_PASSWORD=booksEtl
      - SPRING_LIQUIBASE_URL=jdbc:postgresql://postgresql:5432/booksEtl
      - SPRING_LIQUIBASE_USER=booksEtl
      - SPRING_LIQUIBASE_PASSWORD=booksEtl
      - SPRING_CLOUD_STREAM_KAFKA_BINDER_BROKERS=kafka:9092
      - OCR_ENABLED=true
      - OCR_LANG=eng
      - OCR_DATAPATH=/usr/share/tesseract-ocr/4.00/tessdata
      - TESSDATA_PREFIX=/usr/share/tesseract-ocr/4.00/tessdata
    ports:
      - 127.0.0.1:8080:8080
    healthcheck:
      test:
        - CMD
        - curl
        - -f
        - http://localhost:8080/management/health
      interval: 5s
      timeout: 5s
      retries: 40
    depends_on:
      postgresql:
        condition: service_healthy
  postgresql:
    extends:
      file: ./postgresql.yml
      service: postgresql
  kafka:
    extends:
      file: ./kafka.yml
      service: kafka
