@if (bookPageText) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(bookPageText.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="bookPageTextDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirm delete operation</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error />
      <p
        id="jhi-delete-bookPageText-heading"
        jhiTranslate="booksEtlApp.bookPageText.delete.question"
        [translateValues]="{ id: bookPageText.id }"
      >
        Are you sure you want to delete Book Page Text {{ bookPageText.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button id="jhi-confirm-delete-bookPageText" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
      </button>
    </div>
  </form>
}
